<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="main"></div>
  <div id="main1"></div>
  <qr-code value="https://www.google.com" size="120" id="qrcode" errorCorrectionLevel="M"></qr-code>
  <div id="byte" style="height: 1000px;width: 100vw;"></div>
  <canvas id="myCanvas" width="120" height="120" style="border:1px solid grey"></canvas>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>